<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILog" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8734/Wcf_Monitoring/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILog" contract="LogService.ILog"
                name="BasicHttpBinding_ILog" />
        </client>
    </system.serviceModel>
</configuration>